html {
  height: 100%;
}

body {
  background-color: #141414;
  color: #ffffff;
  margin: 0px;
  text-align: center;
  height: 100%;
}

a {
  color: #ffffff;
  text-decoration: underline solid;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202020;
}
