.header {
  background-color: #242424;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-name {
  margin: 0px;
}

.content {
  margin: 5rem;
  min-height: 100%;
}

.list {
  margin: 2.5rem;
}

.list-element {
  margin: 0.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343434;
}
